.piano-wrapper {
  width: 100%;
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

.piano-wrapper::-webkit-scrollbar {
  height: 0.5rem; /* Alto del scrollbar */
}

.piano-wrapper::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

.piano-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  border-radius: 0.25rem;
}


.piano {
  position: relative; /* Para que las teclas negras (absolute) se posicionen respecto a este contenedor */
  display: grid;
  grid-template-columns: repeat(208, var(--col-size));
  min-width: calc(208 * var(--col-size));
  margin: 0px auto;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-tertiary);
  box-sizing: border-box;
}