.container {
    border: 3px solid black;
    width: 200px;
    height: 1200px;
    position: relative;
}

.caja1 {
    width: 60px;
    height: 60px;
    background-color: red;
    position: relative;
    top: 10px;
    left:30px;
    z-index: 2;
}

.caja2 {
    width: 60px;
    height: 60px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.caja3 {
    width: 60px;
    height: 60px;
    background-color: green;
    position: fixed;
    top: 20px;
    left: 100px;
}


.caja4 {
    width: 60px;
    height: 60px;
    background-color: yellow;
    position: sticky;
    top: 0px;
}
